Editor/Service References/MVStorage/Storage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Storage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.mathiversity.com/Services/Storage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.mathiversity.com/Services/Storage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.mathiversity.com/Services/Storage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStorage_GetFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFiles" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IStorage_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_AddFile_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFile" />
  </wsdl:message>
  <wsdl:message name="IStorage_AddFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_UpdateFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="IStorage_UpdateFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_DeleteFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="IStorage_DeleteFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="IStorage_UploadSpiroFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadSpiroFile" />
  </wsdl:message>
  <wsdl:message name="IStorage_UploadSpiroFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadSpiroFileResponse" />
  </wsdl:message>
  <wsdl:portType name="IStorage">
    <wsdl:operation name="GetFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/GetFiles" message="tns:IStorage_GetFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/GetFilesResponse" message="tns:IStorage_GetFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/GetFile" message="tns:IStorage_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/GetFileResponse" message="tns:IStorage_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/AddFile" message="tns:IStorage_AddFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/AddFileResponse" message="tns:IStorage_AddFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/UpdateFile" message="tns:IStorage_UpdateFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/UpdateFileResponse" message="tns:IStorage_UpdateFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/DeleteFile" message="tns:IStorage_DeleteFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/DeleteFileResponse" message="tns:IStorage_DeleteFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadSpiroFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IStorage/UploadSpiroFile" message="tns:IStorage_UploadSpiroFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStorage/UploadSpiroFileResponse" message="tns:IStorage_UploadSpiroFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStorage" type="tns:IStorage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFiles">
      <soap:operation soapAction="http://tempuri.org/IStorage/GetFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IStorage/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFile">
      <soap:operation soapAction="http://tempuri.org/IStorage/AddFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap:operation soapAction="http://tempuri.org/IStorage/UpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/IStorage/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadSpiroFile">
      <soap:operation soapAction="http://tempuri.org/IStorage/UploadSpiroFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Storage">
    <wsdl:port name="BasicHttpBinding_IStorage" binding="tns:BasicHttpBinding_IStorage">
      <soap:address location="http://www.mathiversity.com/Services/Storage.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>