Editor/Service References/MVStorage/Storage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.mathiversity.com/Services/Storage.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" />
  <xs:element name="GetFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="GetFilesResult" nillable="true" type="q1:ArrayOfStorageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="GetFileResult" nillable="true" type="q2:StorageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="poStorageFile" nillable="true" type="q3:StorageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="poStorageFile" nillable="true" type="q4:StorageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="piID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSpiroFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psToken" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="poStorageFile" nillable="true" type="q5:StorageFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadSpiroFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="UploadSpiroFileResult" nillable="true" type="q6:FileUploadResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>