Editor/Service References/MVAuthentication/Authentication2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordConfirm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterModel" nillable="true" type="tns:RegisterModel" />
  <xs:complexType name="RegisterResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="FailureStatus" type="tns:FailureStatus" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterResult" nillable="true" type="tns:RegisterResult" />
  <xs:simpleType name="FailureStatus">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="UserNameExists" />
          <xs:enumeration value="EmailExists" />
          <xs:enumeration value="PassDontMatch" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="FailureStatus" nillable="true" type="tns:FailureStatus" />
</xs:schema>