Editor/Service References/MVAuthentication/Authentication3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.mathiversity.com/Services/Authentication.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://www.mathiversity.com/Services/Authentication.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="psPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LoginResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="poRegister" nillable="true" type="q2:RegisterModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MathiVersity.Libraries.BO" minOccurs="0" name="RegisterResult" nillable="true" type="q3:RegisterResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>